---
name: 예제
group: example
state:
  default: 에제
---
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>예제</title>
  <link
    rel="stylesheet"
    href="/styles/common/common.css">
</head>
<body>
예제
</body>
</html>